<div class ="container">
  <div class="jumbotron" style="height: auto;">
    <div class = "panel panel-primary">
      <div class ="panel-heading">Team Training Details</div>
      <div class ="panel-body" >
         <div>
         <input [(ngModel)] = "filterBy" type="text" class = "form-control" placeholder="Filter Players" style = "width: 300px;"/>
         <div class = "alert alert-success" *ngIf = "filterBy">
           List filtered using : {{filterBy}}
         </div>
         <br>
         <div style = "width: 170px">
            <button class = "btn btn-success" (click) = "showDetails()" style = "width: 150px;">
              {{showHideDetails ? 'Hide Details' : 'Show Details'}}
            </button>
          </div>
         <h3 class="float-right">Week 1</h3>
         <div>           
         </div>  
          </div>
          <br>
            <table *ngIf = "playerDetails_week1 && playerDetails_week1.length" class="table table-bordered table-striped">
                <thead class="thead-dark">
                <tr>
                  <th *ngIf="showHideDetails">ID</th>
                  <th class="col-sm-3">NOMBRES</th>
                  <th class="col-sm-1" *ngIf="showHideDetails">ASISTENCIA</th>
                  <th class="col-sm-1" *ngIf="showHideDetails">CONDUCTA</th>
                  <th class="col-sm-1" *ngIf="showHideDetails">RENDIMIENTO FISICO</th>
                  <th class="col-sm-1" *ngIf="showHideDetails">VESTUARIO ADECUADO</th>
                  <th class="col-sm-2" *ngIf="showHideDetails">RENDIMIENTO ACADEMICO</th>
                  <th class="col-sm-1" *ngIf="showHideDetails">HORAS A MENTOREAR</th>
                  <th class="col-sm-2" *ngIf="showHideDetails">ASITIÓ LA LIGA</th>                 
                </tr>
              </thead>
              <tbody>
                <tr *ngFor = "let playerDetail_week1 of playerDetails_week1 | searchPipe:filterBy" >
                  <td *ngIf="showHideDetails">
                    {{playerDetail_week1.playerId}}                    
                  </td>
                  <td >
                    {{playerDetail_week1.playerNombres}}                    
                  </td>                 
                  <td *ngIf="showHideDetails">
                    {{playerDetail_week1.playerAsistencia}}                  
                  </td>
                  <td *ngIf="showHideDetails">
                    {{playerDetail_week1.playerConducto}}                  
                  </td>
                  <td *ngIf="showHideDetails">
                    {{playerDetail_week1.playerRendimientoFisico}}
                    
                  </td>
                  <td *ngIf="showHideDetails">
                    {{playerDetail_week1.playerAdecuado}}                   
                  </td>
                  <td *ngIf="showHideDetails">
                    {{playerDetail_week1.playerRendimientoAcademico}}                   
                  </td>
                  <td *ngIf="showHideDetails">  
                    {{playerDetail_week1.playerHorasAMentorear}} 
                                                                        
                  </td>
                  <td *ngIf="showHideDetails"> 
                    <app-ratings [rating_playerAsititoLaLiga]="playerDetail_week1.playerAsititoLaLiga"></app-ratings>                 
                  </td>                 
                </tr>
              </tbody>
              </table>
                <br>
                <br>
                <div>
                    <h3 class="float-right">Week 2</h3>
                    <div>           
                    </div>  
                     </div>
                     <br>
                     <table *ngIf = "playerDetails_week1 && playerDetails_week1.length" class="table table-bordered table-striped">
                        <thead class="thead-dark">
                        <tr>
                          <th *ngIf="showHideDetails">ID</th>
                          <th class="col-sm-3">NOMBRES</th>
                          <th class="col-sm-1" *ngIf="showHideDetails">ASISTENCIA</th>
                          <th class="col-sm-1" *ngIf="showHideDetails">CONDUCTA</th>
                          <th class="col-sm-1" *ngIf="showHideDetails">RENDIMIENTO FISICO</th>
                          <th class="col-sm-1" *ngIf="showHideDetails">VESTUARIO ADECUADO</th>
                          <th class="col-sm-2" *ngIf="showHideDetails">RENDIMIENTO ACADEMICO</th>
                          <th class="col-sm-1" *ngIf="showHideDetails">HORAS A MENTOREAR</th>
                          <th class="col-sm-2" *ngIf="showHideDetails">ASITIÓ LA LIGA</th>                 
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor = "let playerDetail_week1 of playerDetails_week1 | searchPipe:filterBy" >
                          <td *ngIf="showHideDetails">
                            {{playerDetail_week1.playerId}}                    
                          </td>
                          <td >
                            {{playerDetail_week1.playerNombres}}                    
                          </td>                 
                          <td *ngIf="showHideDetails">
                            {{playerDetail_week1.playerAsistencia}}                  
                          </td>
                          <td *ngIf="showHideDetails">
                            {{playerDetail_week1.playerConducto}}                  
                          </td>
                          <td *ngIf="showHideDetails">
                            {{playerDetail_week1.playerRendimientoFisico}}
                            
                          </td>
                          <td *ngIf="showHideDetails">
                            {{playerDetail_week1.playerAdecuado}}                   
                          </td>
                          <td *ngIf="showHideDetails">
                            {{playerDetail_week1.playerRendimientoAcademico}}                   
                          </td>
                          <td *ngIf="showHideDetails">  
                            {{playerDetail_week1.playerHorasAMentorear}} 
                                                                                
                          </td>
                          <td *ngIf="showHideDetails"> 
                            <app-ratings [rating_playerAsititoLaLiga]="playerDetail_week1.playerAsititoLaLiga"></app-ratings>                 
                          </td>                 
                        </tr>
                      </tbody>
                      </table>
                      <br>
                <br>
                <div>
                    <h3 class="float-right">Week 3</h3>
                    <div>           
                    </div>  
                     </div>
                     <br>
                     <table *ngIf = "playerDetails_week1 && playerDetails_week1.length" class="table table-bordered table-striped">
                        <thead class="thead-dark">
                        <tr>
                          <th *ngIf="showHideDetails">ID</th>
                          <th class="col-sm-3">NOMBRES</th>
                          <th class="col-sm-1" *ngIf="showHideDetails">ASISTENCIA</th>
                          <th class="col-sm-1" *ngIf="showHideDetails">CONDUCTA</th>
                          <th class="col-sm-1" *ngIf="showHideDetails">RENDIMIENTO FISICO</th>
                          <th class="col-sm-1" *ngIf="showHideDetails">VESTUARIO ADECUADO</th>
                          <th class="col-sm-2" *ngIf="showHideDetails">RENDIMIENTO ACADEMICO</th>
                          <th class="col-sm-1" *ngIf="showHideDetails">HORAS A MENTOREAR</th>
                          <th class="col-sm-2" *ngIf="showHideDetails">ASITIÓ LA LIGA</th>                 
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor = "let playerDetail_week1 of playerDetails_week1 | searchPipe:filterBy" >
                          <td *ngIf="showHideDetails">
                            {{playerDetail_week1.playerId}}                    
                          </td>
                          <td >
                            {{playerDetail_week1.playerNombres}}                    
                          </td>                 
                          <td *ngIf="showHideDetails">
                            {{playerDetail_week1.playerAsistencia}}                  
                          </td>
                          <td *ngIf="showHideDetails">
                            {{playerDetail_week1.playerConducto}}                  
                          </td>
                          <td *ngIf="showHideDetails">
                            {{playerDetail_week1.playerRendimientoFisico}}
                            
                          </td>
                          <td *ngIf="showHideDetails">
                            {{playerDetail_week1.playerAdecuado}}                   
                          </td>
                          <td *ngIf="showHideDetails">
                            {{playerDetail_week1.playerRendimientoAcademico}}                   
                          </td>
                          <td *ngIf="showHideDetails">  
                            {{playerDetail_week1.playerHorasAMentorear}} 
                                                                                
                          </td>
                          <td *ngIf="showHideDetails"> 
                            <app-ratings [rating_playerAsititoLaLiga]="playerDetail_week1.playerAsititoLaLiga"></app-ratings>                 
                          </td>                 
                        </tr>
                      </tbody>
                      </table>
                      <br>
                <br>
                <div>
                    <h3 class="float-right">Week 4</h3>
                    <div>           
                    </div>  
                     </div>
                     <br>
                     <table *ngIf = "playerDetails_week1 && playerDetails_week1.length" class="table table-bordered table-striped">
                        <thead class="thead-dark">
                        <tr>
                          <th *ngIf="showHideDetails">ID</th>
                          <th class="col-sm-3">NOMBRES</th>
                          <th class="col-sm-1" *ngIf="showHideDetails">ASISTENCIA</th>
                          <th class="col-sm-1" *ngIf="showHideDetails">CONDUCTA</th>
                          <th class="col-sm-1" *ngIf="showHideDetails">RENDIMIENTO FISICO</th>
                          <th class="col-sm-1" *ngIf="showHideDetails">VESTUARIO ADECUADO</th>
                          <th class="col-sm-2" *ngIf="showHideDetails">RENDIMIENTO ACADEMICO</th>
                          <th class="col-sm-1" *ngIf="showHideDetails">HORAS A MENTOREAR</th>
                          <th class="col-sm-2" *ngIf="showHideDetails">ASITIÓ LA LIGA</th>                 
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor = "let playerDetail_week1 of playerDetails_week1 | searchPipe:filterBy" >
                          <td *ngIf="showHideDetails">
                            {{playerDetail_week1.playerId}}                    
                          </td>
                          <td >
                            {{playerDetail_week1.playerNombres}}                    
                          </td>                 
                          <td *ngIf="showHideDetails">
                            {{playerDetail_week1.playerAsistencia}}                  
                          </td>
                          <td *ngIf="showHideDetails">
                            {{playerDetail_week1.playerConducto}}                  
                          </td>
                          <td *ngIf="showHideDetails">
                            {{playerDetail_week1.playerRendimientoFisico}}
                            
                          </td>
                          <td *ngIf="showHideDetails">
                            {{playerDetail_week1.playerAdecuado}}                   
                          </td>
                          <td *ngIf="showHideDetails">
                            {{playerDetail_week1.playerRendimientoAcademico}}                   
                          </td>
                          <td *ngIf="showHideDetails">  
                            {{playerDetail_week1.playerHorasAMentorear}} 
                                                                                
                          </td>
                          <td *ngIf="showHideDetails"> 
                            <app-ratings [rating_playerAsititoLaLiga]="playerDetail_week1.playerAsititoLaLiga"></app-ratings>                 
                          </td>                 
                        </tr>
                      </tbody>
                      </table>
    </div>
  </div>
  </div>
