<div class = "container">
<div class = "panel panel-primary">
  <div class ="panel-heading">Team Training Details</div>
   <div class ="panel-body" >
        <table class="table-info table-bordered table-hovers">
            <tr>
              <th>NOMBRES</th>
              <th>VERSICULO</th>
              <th>ASISTENCIA</th>
              <th>CONDUCTA(1-10)</th>
              <th>RENDIMIENTO FISICO(1-10)</th>
              <th>VESTUARIO ADECUADO(1-10)</th>
              <th>RENDIMIENTO ACADEMICO(1-10)</th>
              <th>HORAS A MENTOREAR</th>
              <th>ASITIÓ LA LIGA</th>
            </tr>
            <tr>
              <td>SAMPLE</td>
              <td>SAMPLE</td>
              <td>SAMPLE</td>
              <td>SAMPLE</td>
              <td>SAMPLE</td>
              <td>SAMPLE</td>
              <td>SAMPLE</td>
              <td>SAMPLE</td>
              <td>SAMPLE</td>
            </tr>
            <tr>
              <td>SAMPLE</td>
              <td>SAMPLE</td>
              <td>SAMPLE</td>
              <td>SAMPLE</td>
              <td>SAMPLE</td>
              <td>SAMPLE</td>
              <td>SAMPLE</td>
              <td>SAMPLE</td>
              <td>SAMPLE</td>
            </tr>
            <tr>
              <td>SAMPLE</td>
              <td>SAMPLE</td>
              <td>SAMPLE</td>
              <td>SAMPLE</td>
              <td>SAMPLE</td>
              <td>SAMPLE</td>
              <td>SAMPLE</td>
              <td>SAMPLE</td>
              <td>SAMPLE</td>
            </tr>
            <tr>
              <td>SAMPLE</td>
              <td>SAMPLE</td>
              <td>SAMPLE</td>
              <td>SAMPLE</td>
              <td>SAMPLE</td>
              <td>SAMPLE</td>
              <td>SAMPLE</td>
              <td>SAMPLE</td>
              <td>SAMPLE</td>
            </tr>
            <tr>
              <td>SAMPLE</td>
              <td>SAMPLE</td>
              <td>SAMPLE</td>
              <td>SAMPLE</td>
              <td>SAMPLE</td>
              <td>SAMPLE</td>
              <td>SAMPLE</td>
              <td>SAMPLE</td>
              <td>SAMPLE</td>
            </tr>
          </table>
  </div>
</div>
</div>